{# Terrific/CoreBundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Terrific Composer{% endblock %}</title>
    <meta charset="UTF-8"/>
    {% block meta %}
    {% endblock %}
    {# stylesheets #}
    {% block styles %}
        {% stylesheets
            '../src/Terrific/Module/*/Resources/public/css/*.*'
            '../src/Terrific/Module/*/Resources/public/css/skin/*.*'
            filter="terrificrewrite"
            output="css/compiled/base.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {# the content goes here #}
    {% block composition %}{% endblock %}

    {# javascripts #}
    {% block base_library %}
        {% javascripts
            '@TerrificCoreBundle/Resources/public/js/jquery-1.7.2.min.js'
            output='js/compiled/jquery-1.7.2.min.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block terrificjs %}
        {% javascripts
            '@TerrificCoreBundle/Resources/public/js/terrific-2.0.0.min.js'
            output='js/compiled/terrific-2.0.0.min.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block scripts %}
        {% javascripts
            '../src/Terrific/Module/*/Resources/public/js/*.js'
            '../src/Terrific/Module/*/Resources/public/js/skin/*.js'
            output='js/compiled/base.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    {# terrificjs bootstrap #}
    {% block bootstrap %}
        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {
                    var $page = $('body'),
                        application = new Tc.Application();

                    application.registerModules($page);
                    application.start();
                });
            })(Tc.$);
        </script>
    {% endblock %}
</body>
</html>